<body>
    


    <div class="container">
        <h1 class="my-5 text-center">Editing Image Gallery Post</h1>
        
        <%= render 'form', imagegal: @imagegal %>
        <div class="d-flex flex-row justify-content-center">
            <%= link_to 'Show', @imagegal, :class => 'btn btn-warning mt-5 mx-3'  %> 
            <%= link_to 'Back', imagegals_path, :class => 'btn btn-danger mt-5 mx-3'  %>
        </div>
    </div>
</body>