<body>
 


    <div class="container">
        
        <h1 class="text-center mb-5 mt-5">Add New Image Gallery Post to APP</h1>
        
            <%= render 'form', imagegal: @imagegal %>
        <div class="d-flex flex-row justify-content-center">
            <%= link_to 'Back', imagegals_path, :class => 'btn btn-danger mt-5'  %>
        </div>
    </div>

</body>