<h1>New Image Gallery Post</h1>

<p>
  A new Image Gallery post was posted with title: <%= @imagegal.title %>
</p>

<p>
  To see the post, please visit the Post Page at:
  <%= link_to "Post Page", @imagegal %>
</p>